@model IEnumerable<WeatherForecast.Infrastructure.Models.LocationInListViewModel>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5 mb-5">
    <h1 class="display-4">Welcome to WeatherForecast Web App</h1>
    <p class="lead">Check current weather data by selecting a location from the list.</p>
 
</div>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Weather Forecast Locations</h2>
    <a asp-action="Create" class="btn btn-success">Create New Forecast</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().LocationId)</th>
                <th>@Html.DisplayNameFor(model => model.First().Department)</th>
                <th>@Html.DisplayNameFor(model => model.First().DepartmentCode)</th>
                <th>@Html.DisplayNameFor(model => model.First().City)</th>
                <th>@Html.DisplayNameFor(model => model.First().PostalCode)</th>
                <th>@Html.DisplayNameFor(model => model.First().Latitude)</th>
                <th>@Html.DisplayNameFor(model => model.First().Longitude)</th>
                <th>@Html.DisplayNameFor(model => model.First().GenerationtimeMs)</th>
                <th>@Html.DisplayNameFor(model => model.First().Timezone)</th>
                <th>@Html.DisplayNameFor(model => model.First().Elevation)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.LocationId</td>
                    <td>@item.Department</td>
                    <td>@item.DepartmentCode</td>
                    <td>@item.City</td>
                    <td>@item.PostalCode</td>
                    <td>@item.Latitude</td>
                    <td>@item.Longitude</td>
                    <td>@item.GenerationtimeMs</td>
                    <td>@item.Timezone</td>
                    <td>@item.Elevation</td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.LocationId">
                            View
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
